{# purpose of this template: show output of get tables action in table area #}
{% extends routeArea == 'admin' ? 'MUTransportModule::adminBase.html.twig' : 'MUTransportModule::base.html.twig' %}
{% block title __('Get tables') %}
{% block admin_page_icon 'square' %}
{% block content %}
    <div class="mutransportmodule-table mutransportmodule-gettables">
    {% if tables is defined %}
    <p class="alert alert-success">{{ __('The following tables were found in the database and saved into the table tables in Transport. You can find them, if you call the display site of this database.') }}</p><br />
    <ul>
        {% for table in tables %}
            <li>{{ table }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endblock %}
