{# purpose of this template: inclusion template for display of related tables #}
{% set hasAdminPermission = hasPermission('MUTransportModule:Table:', '::', 'ACCESS_EDIT') %}
<h4>
    {{ item|mutransportmodule_formattedTitle }}
</h4>
