{# purpose of this template: inclusion template for display of related tables #}
{% set hasAdminPermission = hasPermission('MUTransportModule:Table:', '::', 'ACCESS_EDIT') %}
{% if items|default and items|length > 0 %}
<ul class="list-group mutransportmodule-related-item-list table">
{% for item in items %}
    {% if hasAdminPermission or item.workflowState == 'approved' %}
    <li class="list-group-item">
<h4 class="list-group-item-heading">
    {{ item|mutransportmodule_formattedTitle }}
</h4>
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
