{# purpose of this template: tables index view #}
{% extends routeArea == 'admin' ? 'MUTransportModule::adminBase.html.twig' : 'MUTransportModule::base.html.twig' %}
{% block title __('tables') %}
{% block admin_page_icon 'home' %}
{% block content %}
    <p>{{ __('Welcome to the table section of the Transport application.') }}</p>
{% endblock %}
