{# purpose of this template: show output of get fields action in field area #}
{% extends routeArea == 'admin' ? 'MUTransportModule::adminBase.html.twig' : 'MUTransportModule::base.html.twig' %}
{% block title __('Get fields') %}
{% block admin_page_icon 'square' %}
{% block content %}
    <div class="mutransportmodule-field mutransportmodule-getfields">
    {% if fields is defined %}
    <p class="alert alert-success">{{ __f('The following %s fields were found in the table and should be saved into the table fields in Transport. You can find them, if you call the display site of this table.', {'%s': count}) }}</p><br />
    <ul>
        {% for field in fields %}
            <li>{{ field.Field }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </div>
{% endblock %}
