{# purpose of this template: inclusion template for display of related fields #}
{% set hasAdminPermission = permissionHelper.hasComponentPermission('field', constant('ACCESS_EDIT')) %}
<h4>
    {{ item|mutransportmodule_formattedTitle }}
</h4>
