{# purpose of this template: show output of select 2 databases action in database area #}
{% extends routeArea == 'admin' ? 'MUTransportModule::adminBase.html.twig' : 'MUTransportModule::base.html.twig' %}
{% block title __('Select 2 databases') %}
{% block admin_page_icon 'square' %}
{% block content %}
    <div class="mutransportmodule-database mutransportmodule-select2databases">
        <p>Please override this template by moving it from <em>/modules/MU/TransportModule/Resources/views/Database/select2Databases.html.twig</em> to either <em>/themes/YourTheme/Resources/MUTransportModule/views/Database/select2Databases.html.twig</em> or <em>/app/Resources/MUTransportModule/views/Database/select2Databases.html.twig</em>.</p>
    </div>
{% endblock %}
