/* view pages */
div#z-maincontent.z-module-transport table tbody tr td {
    vertical-align: top;
}
.table-responsive > .fixed-columns {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
    background-color: #fff;
}

/* display pages */
.mutransportmodule-display div.col-sm-3 h3 {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.mutransportmodule-display div.col-sm-3 p.managelink {
    margin-left: 18px;
}


/* validation */
div.form-group input:required, div.form-group textarea:required, div.form-group select:required {
    /*border: 1px solid #00a8e6;*/
    background-color: #fff;
}
div.form-group input:required:valid, div.form-group textarea:required:valid, div.form-group select:required:valid {
    /*border: 1px solid green;*/
}
div.form-group input:required:invalid, div.form-group textarea:required:invalid, div.form-group select:required:invalid {
    border: 1px solid red;
}

/* hide legends if tabs are used as both contain the same labels */
div.transport-edit .tab-pane legend {
    display: none;
}

/* edit pages */
div.mutransportmodule-relation-leftside {
    float: left;
    width: 25%;
}

div.mutransportmodule-relation-rightside {
    float: right;
    width: 65%;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

* html .ui-autocomplete {
    height: 150px;
}

.ui-autocomplete-loading {
    background: white url("../../../../../../images/ajax/indicator_arrows.gif") right center no-repeat;
}

.ui-autocomplete .suggestion {
    margin: 0;
    padding: 0.2em 0 0.2em 20px;
    list-style-type: none;
    line-height: 1.4em;
    cursor: pointer;
    display: block;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    background-color: #fff;
}

div.mutransportmodule-autocomplete .ui-autocomplete .suggestion {
    background-image: url("../../../../../../images/icons/extrasmall/tab_right.png");
}
.ui-autocomplete .suggestion img {
    max-width: 20px;
    max-height: 20px;
}

.ui-autocomplete .suggestion .ui-state-active {
    background-color: #ffb;
}

.ui-autocomplete .suggestion .media-body {
    font-size: 10px;
    color: #888;
}
.ui-autocomplete .suggestion .media-body .media-heading {
    font-size: 12px;
    line-height: 1.2em;
}

/** fix dropdown visibility inside responsive tables */
div.mutransportmodule-view .table-responsive {
    min-height: 300px;
}
div.mutransportmodule-view form.mutransportmodule-quicknav {
    margin: 10px 0;
    padding: 8px 12px;
    border: 1px solid #ccc;
}

div.mutransportmodule-view form.mutransportmodule-quicknav fieldset {
    padding: 3px 10px;
    margin-bottom: 0;
}

div.mutransportmodule-view form.mutransportmodule-quicknav fieldset h3 {
    margin-top: 0;
    display: none;
}

div.mutransportmodule-view form.mutransportmodule-quicknav fieldset label {
    margin-right: 5px;
}

div.mutransportmodule-view form.mutransportmodule-quicknav fieldset #num {
    width: 50px;
    text-align: right;
}

div.mutransportmodule-view .avatar img {
    width: auto;
    max-height: 24px;
}



#sourcelist .btn,
.target {
	width: 180px;
	margin: 0 0 15px 0;
}
#container1 {
	width: 100%;
	min-height: 100px;
	background: #eee;
	margin: 15px 0;
}

.dropped {
	width: 100%;
	float: left;
	position: relative;
}

.listforfields {
	min-height: 100px;
	border: 2px solid #eee;
	position: relative;
}

.placeholder ul {
	margin: 15px;
	overflow: auto;
	background: #eee;
}
